.ico {
    background-size: cover !important;
    display: inline-block;
}


.i-minus {
    background: url(../img/ico/i-minus.png);
    height: 16px;
    width: 16px;
}

.i-plus {
    background: url(../img/ico/i-plus.png);
    height: 16px;
    width: 16px;
}

.i-x {
    background: url(../img/ico/i-x.png);
    height: 20px;
    width: 20px;
}

.i-chat-none {
    background: url(../img/ico/i-chat-none.png);
    height: 80px;
    width: 80px;
}

.i-arrow-right {
    background: url(../img/ico/i-arrow-right.png);
    height: 12px;
    width: 12px;
}