@charset "utf-8";
@import url(../lib/swiper-bundle.min.css);
@import url(../lib/mobiscroll.jquery.min.css);
@import url(common.css);
@import url(ico.css);


/*
 * File       : styles.css
 * Date       : 2024. 07. 24.
 *
 */

/* **************************************** *
 * UI-A-008-1
 * **************************************** */
.main-content {
    display: flex;
    flex-direction: column;
}

.main-content img {
    width: 100%;
}

.main-content-tab {
    background: var(--black);
    padding: 80px 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    align-items: center;
    display: flex;
    justify-content: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-swiper-wrap {
    margin: 40px auto 0 auto;
    width: 90%;
}

.main-swiper-wrap .swiper {
    overflow: unset;
}

.main-swiper-wrap .swiper-slide {
    border-radius: 20px;
}

.main-swiper-wrap .swiper-button-next,
.main-swiper-wrap .swiper-button-prev {
    background: var(--white);
    border-radius: 100px;
    height: 36px;
    width: 36px;
}

.main-swiper-wrap .swiper-button-next::after,
.main-swiper-wrap .swiper-button-prev::after {
    color: var(--primary);
    font-size: var(--text-lg);
}

.main-product-wrap {
    background: var(--secondary);
    padding: 80px 0;
}

.main-product-wrap .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-product-header h1 {
    font-size: var(--text-xxl);
}

.main-product-item {
    background: var(--white);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 20px;
}

.main-product-item-header {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0 0 32px 0;
}

.main-product-item-header img {
    margin: 0 0 20px 0;
    width: 100%;
}

.main-product-item-header h3 {
    color: var(--primary);
    font-size: var(--text-xl);
}

.main-product-item-header h6 {
    align-items: center;
    color: var(--black);
    display: flex;
    font-size: var(--text-lg);
    font-weight: bold;
}

.main-product-item-header h6 span {
    margin: 0 0 0 auto;
}

.main-product-itme-body {
    padding: 0 0 32px 0;
}

.main-product-itme-body p {
    color: var(--black);
    font-size: var(--text-md);
}

@media (min-width:992px) {
    .main-content-tab {
        background: var(--black);
        padding: 120px 0;
    }

    .main-swiper-wrap {
        width: 80%;
    }

    .main-swiper-wrap .swiper-button-next,
    .main-swiper-wrap .swiper-button-prev {
        height: 60px;
        width: 60px;
    }

    .main-swiper-wrap .swiper-button-next::after,
    .main-swiper-wrap .swiper-button-prev::after {
        font-size: var(--text-xxl);
    }

    .main-product-wrap {
        padding: 120px 0;
    }

    .main-product-wrap .container {
        gap: 28px;
    }


    .main-product-header h1 {
        font-size: 32px;
    }

    .main-product-item {
        padding: 28px;
    }
}

/* **************************************** *
 * UI-A-009
 * **************************************** */
.product-detail {
    background: linear-gradient(180deg, #FFB5B4 0%, #FFF 50%);
    padding: 80px 0;
}

.detail-swiper-wrap .swiper-button-next,
.detail-swiper-wrap .swiper-button-prev {
    background: var(--white);
    border-radius: 100px;
    height: 36px;
    width: 36px;
}

.detail-swiper-wrap .swiper-button-next::after,
.detail-swiper-wrap .swiper-button-prev::after {
    color: var(--black);
    font-size: var(--text-lg);
}

.detail-info {
    align-items: flex-start;
    background: var(--white);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
}

.detail-info h1 {
    font-size: var(--text-xl);
}

.detail-info-text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detail-info-text li {
    align-items: center;
    font-size: var(--text-lg);
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.detail-info-text li span {
    font-size: var(--text-xl);
    font-weight: bold;
}

.detail-info-text li span b {
    color: var(--primary);
}

.product-tag {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.product-tag li {
    background: #F0618B;
    border-radius: 100px;
    color: var(--white);
    font-size: var(--text-md);
    padding: 4px 12px;
}

.product-option {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.product-option dt {
    font-size: var(--text-lg);
}

.product-option dd {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.product-option dd span {
    background: #FFD5D5;
    border-radius: 4px;
    color: #E24A78;
    font-size: var(--text-md);
    padding: 4px 32px;
}

.product-option.gray dd span {
    background: #E9E9E9;
    color: #5B5B5B;
}

.product-desc {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 100px;
    padding: 20px;
}

.product-desc p {
    font-size: var(--text-md);
}

.product-order-list {
    display: flex;
    flex-direction: column;
    position: relative;
}

.product-order-list li {
    display: flex;
    justify-content: space-between;
}

.product-order-list li::after {
    border-left: 3px dashed #DB2A5F;
    content: '';
    height: 100%;
    position: absolute;
    left: 10px;
    top: 0;
    width: 1px;
}

.product-order-list li::before {
    background: url(../img/ico/i-circle.png);
    background-size: cover;
    content: '';
    display: inline-block;
    flex: 0 0 auto;
    height: 24px;
    position: relative;
    width: 24px;
    z-index: 2;
}

.product-order {
    align-items: flex-start;
    background: #FFEDED;
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    margin: 0 0 20px 0;
    padding: 24px;
    width: calc(100% - 40px)
}

.product-order-list li:last-child .product-order {
    margin: 0;
}


.product-order h1 {
    color: #E4416E;
    font-size: var(--text-xl);
}

.product-order p {
    font-size: var(--text-md);
}

.order-swiper-wrap {
    margin: 0 auto;
    position: relative;
    width: 80%;
}

.order-swiper-wrap .swiper-slide img {
    border-radius: 4px;
}

.order-swiper-wrap .swiper-button-next,
.order-swiper-wrap .swiper-button-prev {
    background: var(--primary);
    border-radius: 100px;
    height: 24px;
    width: 24px;
}

.order-swiper-wrap .swiper-button-next {
    top: 62%;
    right: -30px;
}

.order-swiper-wrap .swiper-button-prev {
    top: 62%;
    left: -30px;
}

.order-swiper-wrap .swiper-button-next::after,
.order-swiper-wrap .swiper-button-prev::after {
    color: var(--white);
    font-size: var(--text-mn);
}

.btn-reservation {
    background: var(--primary);
    border-radius: 100px;
    color: var(--white);
    font-size: var(--text-xl);
    font-weight: bold;
    justify-content: center;
    padding: 16px 0;
    position: relative;
    width: 100%;
}

.btn-reservation::after {
    background: url(../img/ico/i-arrow-right-w.png);
    background-size: cover;
    content: '';
    display: inline-block;
    height: 24px;
    position: absolute;
    right: 20px;
    width: 24px;
}

@media (min-width: 992px) {
    .product-detail {
        padding: 120px 0;
    }

    .product-detail .row {
        --bs-gutter-y: 60px;
    }

    .detail-swiper-wrap .swiper-slide {
        border-radius: 16px;
        height: 400px;
    }

    .detail-swiper-wrap .swiper-slide img {
        border-radius: 16px;
    }

    .detail-swiper-wrap .swiper-button-next,
    .detail-swiper-wrap .swiper-button-prev {
        height: 44px;
        width: 44px;
    }

    .detail-swiper-wrap .swiper-button-next::after,
    .detail-swiper-wrap .swiper-button-prev::after {
        font-size: var(--text-xl);
    }

    .detail-info {
        height: 100%;
    }

    .detail-info h1 {
        font-size: 28px;
    }

    .detail-info-text {
        flex-direction: row;
        gap: 20px;
    }

    .detail-info-text li {
        font-size: var(--text-xxl);
        width: auto;
    }

    .detail-info-text li span {
        font-size: 28px;
    }

    .product-tag {
        gap: 8px;
    }

    .product-tag li {
        font-size: var(--text-lg);
        padding: 8px 16px;
    }

    .product-option {
        align-items: center;
        flex-direction: row;
        gap: 20px;
    }

    .product-option dt {
        font-size: var(--text-xl);
        width: 86px;
    }

    .product-option dd span {
        font-size: var(--text-lg);
        padding: 4px 32px;
    }

    .product-desc {
        padding: 40px 60px;
    }

    .product-desc p {
        font-size: var(--text-xxl);
        font-weight: bold;
    }

    .product-order-list {
        margin: 60px 0 0 0;
    }

    .product-order-list li::after {
        border-left: 3px dashed #DB2A5F;
        content: '';
        height: 100%;
        position: absolute;
        left: 18px;
        top: 0;
        width: 1px;
    }

    .product-order-list li::before {
        height: 40px;
        width: 40px;
    }

    .product-order {
        margin: 0 0 40px 0;
        padding: 40px;
        width: calc(100% - 60px)
    }

    .order-swiper-wrap {
        margin: 0 auto;
        position: relative;
        width: 90%;
    }

    .btn-reservation {
        justify-content: left;
        margin: 60px 0 0 0;
        padding: 16px 20px;
        width: 100%;
    }
}

.order-input {
    background: var(--white);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.order-input-top {
    border-bottom: 1px solid #E6E7E9;
    padding: 24px;
}

.order-input-bot {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
}

.order-input-bot dl {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.order-input-bot dd {
    font-size: var(--text-xl);
    font-weight: bold;
}

.order-input-bot dd span {
    color: var(--primary);
}

.order-input-bot button {
    font-size: var(--text-lg);
    width: 100%;
}

@media (min-width: 992px) {
    .order-input {
        margin: 60px 0 0 0;
    }
}


/* **************************************** *
 * UI-A-020
 * **************************************** */
.reservation {
    padding: 40px 0;
}

.reservation h1 {
    font-size: var(--text-xl);
}

.res-wrap.none {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    height: 360px;
}

.res-wrap p {
    color: var(--black-500);
    font-size: var(--text-lg);
}

@media (min-width: 992px) {
    .reservation h1 {
        font-size: 28px;
    }

    .res-wrap.none {
        height: 400px;
    }

    .res-wrap.none i {
        height: 120px;
        width: 120px;
    }

    .res-wrap p {
        font-size: var(--text-xl);
    }
}

.res-wrap {
    margin: 20px 0 0 0;
}

.res-list {
    display: flex;
    flex-direction: column;
}

.res-list li {
    display: flex;
    gap: 20px;
    position: relative;
}

.res-list li::before {
    background: url(../img/ico/i-circle.png);
    background-size: cover;
    content: '';
    flex: 0 0 auto;
    display: inline-block;
    height: 20px;
    position: relative;
    width: 20px;
    z-index: 1;
}

.res-list li::after {
    border-left: 3px solid var(--primary);
    content: '';
    height: 100%;
    position: absolute;
    left: 8px;
    width: 1px;
}

.res-list h4 {
    margin: 0 0 16px 0;
}

.res-list li:last-child .res {
    margin: 0;
}

.res {
    background: var(--white);
    border: 1px solid var(--black-100);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
    padding: 20px;
}

.res-top {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.res-top p {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.res-top p span {
    font-size: var(--text-lg);
}

.res-top p span.primary {
    color: var(--primary);
}

.res-top p span.gray {
    color: var(--black-500);
}

.res-top p span.orange {
    color: #E48900;
}

.res-top p a {
    align-items: center;
    color: var(--black-900);
    display: flex;
    font-size: var(--text-md);
    gap: 4px;
}

.res-top img {
    border-radius: 8px;
    height: 80px;
    width: 80px;
}

.res-info {
    display: flex;
    gap: 16px;
}

.res-info-area {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.res-info-area h3 {
    font-size: var(--text-lg)
}

.res-info-area p {
    color: var(--black-800);
    font-size: var(--text-mn);
    width: 100%;
}

.res-info-area ul {
    display: none;
}

.res-bot {
    margin: 16px 0 0 0;
}

.res-bot .btn-group {
    width: 100%;
}

.res-bot .btn-group button {
    flex: 1;
}


@media (min-width: 992px) {
    .res-list li {
        gap: 40px;
    }

    .res-list li::before {
        height: 32px;
        width: 32px;
    }

    .res-list li::after {
        left: 14px;
    }

    .res-list h4 {
        font-size: var(--text-xl);
        margin: 0 0 20px 0;
    }

    .res-area {
        width: 100%;
    }

    .res {
        flex-direction: row;
        margin: 0 0 32px 0;
        padding: 32px;
    }

    .res-top {
        padding: 0 24px 0 0;
    }

    .res-top p span {
        font-size: 18px;
    }

    .res-top p a {
        font-size: var(--text-lg);
    }

    .res-top img {
        border-radius: 8px;
        height: 120px;
        width: 120px;
    }

    .res-info-area h3 {
        font-size: var(--text-xxl)
    }

    .res-info-area p {
        font-size: var(--text-lg);
    }

    .res-info-area ul {
        display: flex;
    }

    .res-info-area ul li::before,
    .res-info-area ul li::after {
        display: none;
    }

    .res-info-area ul li::after {
        background: var(--black-300);
        border-radius: 100px;
        border: 0;
        content: '';
        display: inline-block;
        height: 4px;
        position: relative;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 8px;
        width: 4px;
    }

    .res-info-area ul li:last-child::after {
        display: none;
    }

    .res-info-area ul li {
        color: var(--black-500);
        font-size: var(--text-md);
        font-weight: 400;
        gap: 0;
    }

    .res-bot {
        border-left: 1px solid var(--black-100);
        margin: 0 0 0 auto;
        padding: 0 0 0 24px;
        width: 220px;
    }

    .res-bot .btn-group {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .res-bot .btn-group button {
        flex: 0 0 auto;
        width: 100%;
    }
}

/* **************************************** *
 * UI-A-005
 * **************************************** */
.login {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.login-wrap {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 0 auto;
    max-width: 400px;
}

.login-area {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-area .btn-group {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
}

.login-area h6 {
    color: var(--black);
    font-size: var(--text-xl);
}

.login-area p {
    color: var(--black-500);
    font-size: var(--text-md);
    font-weight: 400;
    margin: 16px 0 32px 0;
}

.btn-login-number {
    font-size: var(--text-lg);
    height: 48px;
    margin: 0 auto;
    width: 100%;
}

.btn-login {
    background: var(--white);
    border-radius: 100px;
    border: 1px solid var(--black-50);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
    color: var(--black);
    font-size: var(--text-lg);
    font-weight: 500;
    height: 48px;
    position: relative;
    width: 100%;
}

.btn-login i {
    position: absolute;
    left: 12px;
}

.login-wrap a {
    color: var(--black-500);
    font-size: var(--text-lgDd);
    text-align: center;
}

@media (min-width: 992px) {
    .login-area h6 {
        font-size: var(--text-xxl);
    }

    .login-area p {
        font-size: var(--text-lg);
    }

    .btn-login i {
        left: 16px;
    }
}

.sub-content {
    display: flex;
    height: calc(100vh - 48px);
}

.sub-content .container {
    height: 100%;
    width: 100%;
}

.sub-content-wrap {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    max-width: 400px;
    padding: 32px 0;
    width: 100%;
}

.sub-content-wrap h1 {
    color: var(--black);
    font-size: var(--text-xxl);
}

.sub-content-wrap p {
    color: var(--black-500);
    font-size: var(--text-lg);
    font-weight: 400;
    margin: 8px 0 40px 0;
}

.terms {
    width: 100%;
}

.sub-content-wrap button {
    font-size: var(--text-lg);
    margin: auto 0 0 0;
    width: 100%;
}

@media (min-width: 992px) {
    .sub-content-wrap {
    }
}


.join-complete {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 120px 0 0 0;
    width: 100%;
}

.join-complete img {
    height: 120px;
}

.join-complete p {
    margin: 0;
}

@media (min-width: 992px) {
    .join-complete {
        margin: 100px 0 0 0;
    }
}

.terms-scroll {
    overflow-y: scroll;
    height: calc(100vh - 316px);
}

.terms-scroll::-webkit-scrollbar {
    background: none;
    width: 4px;
}

.terms-scroll::-webkit-scrollbar-thumb {
    background: var(--black-300);
    border-radius: 100px;
}

.number-count {
    border: 1px solid var(--black-100);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.number-count li {
    align-items: center;
    border-bottom: 1px solid var(--black-100);
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
}

.number-count li:last-child {
    border: 0;
}